{{ ansible_managed | comment }}

storage:
  dbPath: {{ mongodb_dbpath }}

systemLog:
  destination: file
  logAppend: true
  path: {{ mongodb_systemlog_path }}

net:
  port: {{ mongodb_port }}
  bindIp: {{ mongodb_bindip }}
{% if mongodb_maxIncomingConnections is defined %}
  maxIncomingConnections: {{ mongodb_maxIncomingConnections }}
{% endif %}
{% if mongodb_tls_certificateKeyFile is defined or mongodb_tls_certificateSelector is defined %}
  tls:
    allowConnectionsWithoutCertificates: {{ mongodb_tls_allowConnectionsWithoutCertificates|default(true)|bool|ternary("true", "false") }}
{% if mongodb_tls_certificateKeyFile is defined %}
    certificateKeyFile: {{ mongodb_tls_certificateKeyFile }}
{% endif %}
{% if mongodb_tls_certificateSelector is defined %}
    certificateSelector: {{ mongodb_tls_certificateSelector }}
{% endif %}
{% if mongodb_tls_clusterCertificateSelector is defined %}
    clusterCertificateSelector: {{ mongodb_tls_clusterCertificateSelector }}
{% endif %}
    mode: {{ mongodb_tls_mode|default('preferTLS') }}
{% if mongodb_tls_certificateKeyFilePassword is defined %}
    certificateKeyFilePassword: {{ mongodb_tls_certificateKeyFilePassword }}
{% endif %}
{% if mongodb_tls_CAFile is defined %}
    CAFile: {{ mongodb_tls_CAFile }}
{% endif %}
    disabledProtocols: {{ mongodb_tls_disabledProtocols|default(['TLS1_0', 'TLS1_1', 'TLS1_2'])|join(',') }}
{% endif %}


processManagement:
  timeZoneInfo: /usr/share/zoneinfo
